/*
 * Comments are written as C++ style.
 */
html {

    overflow-y: scroll;
}

body {
    height: 100%;
    margin: 0;
    background-image: url('../img/berg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

header {

  height: auto;
  margin: 0;
  background-color: #fff;
  border: 2px solid black;
  background-image: url("../img/bergkedja.jpg");
  background-repeat: no-repeat;
  background-size: 1940px 190px;
  background-attachment: fixed;



}

.site-header{

  height: 50px;
  width: 100%;
  color: #f1f1f1;
  font-size: 24px;
  text-align: center;
  padding: 20px 0;

}

.textblock{
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 8px;
  border: 15px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;

}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0  ;

}

footer{

    padding-top: 20px ;
    padding-bottom: 20px ;
    bottom: 0;
    position: absolute;
    height: 2.5rem;

}


.site-footer{
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.main {
  text-align: center center;
}

.HeaderCenter{
  text-align: center;
}

.imgcenter {
  text-align: center;
}

#page-content{
  position: relative;
  min-height: 100vh;
}

.wrapper{
  padding-bottom: 6rem ;
}

#fetchButton{

}

#htmlbutton{
  text-align: center;
}


#content {
    border: 1px solid black;
    background-color: #fefeee;
    padding: 2em;
    margin: 0 auto;
    height: auto;
    width: 800px;
    border-radius: 30px;



}

#duck {
    width: 64px;
    height: 64px;

    background-image: url(../img/snowman.png);
    background-size: 64px;
    position: absolute;
    top: 10px;
    left: 10px;

}
th, td, p, input {
            font:14px Verdana;

        }
        table, th, td
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: left;
            margin-left: auto;
            margin-right: auto;

        }
        th {
            font-weight:bold;
            text-align: left;

        }

#mydiv {
  position: absolute;
  z-index: 10000;
}

/*
Footer animation for social media icons
*/

textarea {
    resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

@charset "UTF-8";

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
/* Button animation */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.5);
}
