@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About page</h1>
    <h2>Exercise 7</h2>
    <p>This exercise was for us to learn how to create a weppage with ASP.NET. and do what we already have done with other frameworks.
        How to read a Json file, and how to add more pages to the website. And how to read a json with a "path".
    </p>

</div>